.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    background-color: #0000003b;
}

.logo img {
    height: 50px;
}

.dark-menu .menu a {
    color: #fff;
    transition: color 0.3s ease;
}

#headerIframe {
    height: 50px;
}

.header-iframe {
    background-color: rgba(255, 255, 255, 0);
}

/* .section.publishing > .menu a {
    color: #000;
} */