
.container {
    display: flex;
    height: 100vh;
    transition: transform 0.3s ease;
    background-size: cover;

}

.section {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}



.manifesto-link {
    color: #888;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.manifesto-link:hover {
    color: #fff;
}






.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.2rem;
}


/*intro*/
.txtBox1 {
    padding: 50px;
}
.txtBox1 p {
    text-align: center;
}
.txtBox2 {
    padding: 10px;
}
.txtBox3 {
    border-bottom: 1px solid #fff;
}
.txtBox4 {
    border-bottom: 1px solid #fff;
}
.txtBox5 {
    border-bottom: 1px solid #fff;
}
.txtBox6 {
    border-bottom: 1px solid #fff;
}
h1.introName {
    font-size: 160px;
    line-height: 120px;
    margin: 0;
    padding: 0;
}
h1.introSkill {
    font-size: 120px;
    line-height: 100px;
    margin: 0;
    padding: 0;
}
.section.intro {
    background-color: #000;
    color: #fff;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.intro-left-content,
.intro-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-left-content {
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}

.intro-right-content {
    align-items: flex-end;
    text-align: right;
    max-width: 30%;
    width: 100%;
    margin-right: 10px;
}




/*publishing*/

.section.publishing {
    background-color: #C8EF45;
    color: #000;
    flex-direction: column;
}

.publishing-left-content,
.publishing-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publishing-left-content {
    align-items: flex-start;
    max-width: 100%;
    width: 900px;
}

.publishing-right-content {
    align-items: flex-end;
    text-align: right;
    
}
.myphoto {
    text-align: left;
    width: 50%;
}

/*design*/

.section.design {
    background-color: #F1F864;
    color: #000;
    flex-direction: column;
}



/*projects*/

.section.projects {
    background-color: #fff;
    color: #000;
    flex-direction: column;
}




/*skill*/

.section.skill {
    background-color: #000;
    color: #000;
    flex-direction: column;
}


/*about*/

.section.about {
    background-color: #96BAFF;
    color: #000;
    flex-direction: column;
}

/*contact*/

.section.contact {
    background-color: #D8F8B7;
    color: #000;
    flex-direction: column;
}



/*mouse*/
.myCustomCursor {
    cursor: url('https://cdn-icons-png.flaticon.com/512/32/32195.png'), auto;
}