
.container {
    display: flex;
    height: 100vh;
    transition: transform 0.3s ease;
    background-size: cover;

}

.section {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}



.manifesto-link {
    color: #888;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.manifesto-link:hover {
    color: #fff;
}






.section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.section p {
    font-size: 1.2rem;
}


/*intro*/
.txtBox1 {
    padding: 50px;
}
.txtBox1 p {
    text-align: center;
}
.txtBox2 {
    padding: 10px;
}
.txtBox3 {
    border-bottom: 1px solid #fff;
}
.txtBox4 {
    border-bottom: 1px solid #fff;
}
.txtBox5 {
    border-bottom: 1px solid #fff;
}
.txtBox6 {
    border-bottom: 1px solid #fff;
}
h1.introName {
    font-size: 150px;
    line-height: 120px;
    margin: 0;
    padding: 0;
}
h1.introSkill {
    font-size: 80px;
    line-height: 100px;
    margin: 0;
    padding: 0;
}
.section.intro {
    background-color: #C8EF45;
    justify-content: flex-start;
    align-items: flex-end;

}
.introbg {
    background-color: #000;
    border-radius: 0 50px 50px 0;
    color: #fff;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 83%;
    height: 90%;
    overflow: hidden;
    z-index: 1;
}

.introsection {
  display: flex;
  flex-direction: column;
  background-color: #fcfce6;
}

.intromain {
  display: flex;
  flex-direction: row;
  height: 75%;
}

.intro-left-content,
.intro-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-left-content {
    align-items: flex-start;
    max-width: 100%;
    width: 70%;
    justify-content: space-around;
    height: 90%;
}

.intro-right-content {
    align-items: flex-end;
    text-align: right;
    max-width: 100%;
    width: 30%;
    margin-right: 10px;
}
.intro-right-content .txtBox {
    width: 100%;
}
@keyframes slideUp {
    0% { opacity: 0; transform: translateY(100%); }
    25% { opacity: 1; transform: translateY(0); }
    75% { opacity: 0; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-100%); }
  }
  
  .introSkill {
    display: block;
    position: absolute;
    animation: slideUp 13s infinite;
    opacity: 0;
    transform: translateY(100%);
  }
  
  .introSkill-1 {
    animation-delay: 0s;
  }
  
  .introSkill-2 {
    animation-delay: 2s;
  }
  
  .introSkill-3 {
    animation-delay: 5s;
  }
  
  .introSkill-4 {
    animation-delay: 8s;
  }
  
  .txtBox2-2 {
    position: relative;
    height: 1.5em; 
    overflow: hidden;
  }

  .bottomTxt {
    background-color: #C8EF45;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 50px 0;
}
/*about*/

section.about {
    width: 100%;
    height: 100%;
    background-color: #C8EF45;
    color: #000;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 50px 0 0;
}


.about-left-content,
.about-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-left-content {
    align-items: flex-start;
    max-width: 100%;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}
.aboutbg {
    display: flex;
    flex-direction: row;
    background-color: #C8EF45;
    width: 95%;
    height: 80%;
    align-items: flex-end;
}
.about-right-content {
    text-align: right;
    width: 100%;
}

h1.aboutBottomTxt1 {
    font-size: 200px;
    margin: 0;
    padding: 0;
}
.webphoto {
    text-align: left;
    width: 73%;
    border-radius: 50%;
    margin-left: 50px;
}

@keyframes moveAndFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    
    30% {
        transform: translateX(-50%);
        /* opacity: 0; */
    }
    50% {
        transform: translateX(-100%);
        /* opacity: 0; */
    }
    50.01% {
        transform: translateX(100%);
        /* opacity: 0; */
    }
    
    70% {
        transform: translateX(50%);
        /* opacity: 0; */
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.aboutBottomTxt1 {
    display: inline-block; 
    animation: moveAndFade 20s linear infinite; 
    white-space: nowrap; 
}
.txtBox.txtBox2-2 {
    width: 100%;
    height: 100%;
}



/*@@@@@@@@@@@@@aboutme.html : skill@@@@@@@@@@@@@@@@@@@*/

.center-inner {
  text-align: center;
  box-sizing: border-box;
  margin: 5% 10%;
}

.center-inner h1 {
  display: block;
  font-weight: 800;
  margin: 0;
  font-size: 26px;
  text-transform: capitalize;
}

.center-inner .program-items {
  margin-top: 10px;
  width: 47%;
  float: left;
  box-sizing: border-box;
  margin-left: 5%;
  color: #fff;
}

.center-inner .program-items:nth-child(even) {
  margin-left: 0;
}

.category {
  overflow: hidden;
  font-size: 30px;
}

.category span {
  float: left;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
}

.program-items span:nth-child(3) {
  float: left;
  font-size: 24px;
  margin-top: 10px;
  color: #ffffff;
  font-weight: 600;
}

.progress {
  /* border: 1px solid #63bfff; */
  border-radius: 5px;
  padding: 9px;
  margin-top: 5px;
}

.progress span {
  position: relative;
  height: 50px;
  background-color: #63bfff;
  display: block;
  border-radius: 50px;

  animation-name: ani;
  animation-duration: 8s;
  animation-delay: 7s;
  animation-iteration-count: infinite;
}

.progress span:after {
  content: '95%';
  font-size: 15px;
  background-color: #ffc763;
  position: absolute;
  right: -10px;
  top: -6px;
  width: 60px;
  border-radius: 100px;
  height: 60px;
  line-height: 45px;
  color: #000;
}

.program-items:nth-of-type(1) .progress span:after {
  content: '90%';
}

.program-items:nth-of-type(2) .progress span:after {
  content: '95%';
}

.program-items:nth-of-type(3) .progress span:after {
  content: '80%';
}

.program-items:nth-of-type(4) .progress span:after {
  content: '90%';
}

.program-items:nth-of-type(5) .progress span:after {
  content: '70%';
}

.program-items:nth-of-type(6) .progress span:after {
  content: '90%';
}


@keyframes ani {
  0% {
    width: 0;
  }
}










/*publishing*/

.section.publishing {
    background-color: #FDFCE4;
    color: #000;
    flex-direction: column;
      background: #f5f5f5 url('../img/poblishingmainimg.png');
      /* animation: fadeIn 1s ease forwards; */
      background-size: cover;
      background-position: center;
      align-items: end;
      justify-content: flex-start;
      border-radius: 0 50px 50px 0;      
}
/* @keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
} */
.title-content.title-content3 {
  padding-top: 50px;
}
.title-content.title-content4 {
  padding-right: 70px;
  padding-top: 50px;
}


/*projects*/

.section.projects {    
    background-color: #000;
    color: #000;
      /* animation: fadeIn 1s ease forwards; */
}
section.projectbg {
  display: flex;
  flex-direction: column;
    background: #fff url('../img/gpt-mainimg1.png');
    background-position: center;
    align-items: end;
    justify-content: flex-start;
    border-radius: 0 50px 50px 0; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


/*about*/

.section.design {
  background-color: #e6f3f5;
  color: #000;
  flex-direction: column;
}
section.designbg {
  display: flex;
  flex-direction: column;
    background: #000000 url('../img/gpt-mainimg1.png');
    background-position: center;
    align-items: end;
    justify-content: flex-start;
    border-radius: 0 50px 50px 0; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


/*skill*/

.section.skill {
    background-color: #fff;
    color: #000;
    flex-direction: column;
}
section.skillbg {
  display: flex;
  flex-direction: column;
    background: #e6f3f5 url('../img/gpt-mainimg1.png');
    background-position: center;
    align-items: end;
    justify-content: flex-start;
    border-radius: 0 50px 50px 0; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}


/*contact*/

.section.contact {
    background-color: #000;
    color: #fff;
    flex-direction: column;
}

section.contactbg {
  display: flex;
  flex-direction: column;
    background: #fff url('../img/gpt-mainimg1.png');
    background-position: center;
    align-items: end;
    justify-content: flex-start;
    border-radius: 0 50px 50px 0; 
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}



/*mouse*/
.myCustomCursor {
    cursor: url('https://cdn-icons-png.flaticon.com/512/32/32195.png'), auto;
}